/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf"),url("../fonts/Roboto-Bold.ttf");
}
body{
    background: hsl(235, 18%, 26%);
font-family: "Roboto";
    margin: 0;
}

  main {
 
    display: flex;
      background: white;
     
  }
.content{
    
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 30px;
 
    /* margin: 0 auto; */
}
.vh{
    height: 100vh;
}
h1{
    margin: 12px 0;
    font-weight: 700;
    font-size: 60px;
}
p{
    font-size: 16px;
}
ul{

    padding-left: 30px;
    list-style: url("../images/icon-list.svg");
}
li{
    padding:0 0 20px 20px;
}

form {
    display: flex;
        flex-direction: column;
}
label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 700;
}
#error{

    display: inline-block;
    
    font-size: 12px;
        font-weight: 700;
        color: red;
}
input{
    font-size: 16px;
    padding:0  20px;
    margin: 10px 0;
    border:1px solid hsl(231, 7%, 60%);
    border-radius: 8px;
    height: 50px;
}
/* input {
    
    background:rgba(255, 0, 0, 0.084);
    
} */

input::placeholder{
    
    color: var(--abc);
}

button {
    font-weight: 700;
    font-size: 16px;
    padding: 0 20px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    height: 50px;
    background: hsl(234, 29%, 20%);
    color: white;
}
button:hover ,button:focus {
    box-shadow: 7px 7px 20px rgba(255, 80, 49, 0.432);
    background: linear-gradient(-45deg,rgb(255, 113, 47),rgb(255, 65, 132));
    color: white;
}
.message{
    display: flex;
    flex-direction: column;
    justify-content: center;

    flex-grow: 1;
}
.success{
align-self: flex-start;}
.success-icon{
    
    height: 70px;
}
.dismiss-btn{
}
@media screen and (max-width:1440px){
    .cover {
            width: 100%;
        }
                main {
                    flex-direction: column;
                    min-height: 100vh;
                }
}
@media screen and (min-width:1440px) {
  
body{
    display: flex;
    justify-content: center;
    align-items: center; height: 100vh;
}
    main {
       
        justify-content: center;
      background: white;
      padding: 25px;
      border-radius: 35px;
    }
    .cover{
        content: url(../images/illustration-sign-up-desktop.svg);
        order: 2;
    }
    .content{

justify-content: center;
        padding: 40px;
        padding-right: 60px;
    }
        .vh {
            height: auto;
            max-width:500px;
        }
}